<h2>People</h2>
<div id="dashboard">
	<table>
		<th>Name</th>
		<th>Concepts</th>
	<% if !@users.blank? %>
	  <% for person in @users %>
	<tr>
		<td><%= person.login %></td>
		<td><%= link_to(person.concepts.count, user_path(person)) %></td>
	</tr>

	  <% end %>
	<% else %>

	<% end %>
	</table>	
</div>

