<h2>People</h2>
	<table>
		<thead>
		<th scope="col">Name</th>
		<th scope="col">Concepts</th>
	</thead>
	<tbody>
	<% if !@users.blank? %>
	  <% for person in @users %>
	<tr>
		<td><%= person.login %></td>
		<td><%= link_to(person.concepts.count, user_path(person)) %></td>
	</tr>
	<% end %>
	<% else %>

	<% end %>
	</tbody>
	</table>

