<h1>Editing concept</h1>
<div class="my_form" id="stylized">

<%= render :partial => 'form' %>

<div class="spacer"></div>

<%= link_to 'Show', @concept %> |
<%= link_to 'Back', concepts_path %>
</div>